body, h1, h2, ul, li, p {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, #1a1a1a 30%, #ffffff 30%);
  font-family: "Noto Serif";
}

#app {
  padding: 0 80px;
}

/* Header */

.header {
  display: flex;
  justify-content: space-between;
  max-width: 900px;
  padding: 20px 0;
  margin: 0 auto;
}

.logo {
  width: 80px;
}

.carrinho-menu::after {
  content: '';
  display: inline-block;
  background: url("./assets/carrinho.svg") no-repeat center center;
  width: 25px;
  height: 25px;
  margin-left: 10px;
}

.carrinho-menu {
  display: flex;
  align-items: center;
  cursor: pointer;
}

/* Listagem Produtos */

.produtos {
  max-width: 900px;
  margin: 100px auto 0 auto;
}

.produto {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  background-color: #ffffff;
  box-shadow: 0 0 2rem rgba(0,0,0,.1);
  cursor: pointer;
}

.produto-img {
  max-width: 300px;
  margin-right: 40px;
}

.produto-titulo {
  font-size: 3rem;
  line-height: 1;
}

.produto-preco {
  color: rgba(0,0,0,.5);
}

/* Modal */

.modal::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0,.5);
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-container {
  position: relative;
  z-index: 1;
  background: linear-gradient(to right, transparent 250px, #ffffff 250px);
  display: grid;
  align-items: end;
  grid-gap: 50px;
  padding: 50px 50px 50px 0;
  animation: fadeIn .3s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate3d(50px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0px, 0, 0);
  }
}

.modal-botao-fechar {
  border-radius: 50%;
  border: 2px solid #000000;
  width: 40px;
  height: 40px;
  position: absolute;
  top: -10px;
  right: -10px;
  font-size: 1rem;
  box-shadow: 0 3px 4px rgba(0,0,0,.1), 0 4px 10px rgba(0,0,0,.2);
  cursor: pointer;
  background: #ffffff;
}

.modal-preco {
  color: rgba(0,0,0,.5);
}

.modal-img {
  grid-column: 1;
  box-shadow: 0 3px 4px rgba(0,0,0,.1), 0 4px 10px rgba(0,0,0,.2);
}

.modal-img img {
  max-width: 300px;
  display: block;
}

.modal-dados {
  grid-column: 2;
  max-width: 600px;
}

.modal-titulo {
  font-size: 3rem;
}

.modal-botao-adicionar-produto {
  margin-top: 80px;
  background: #000000;
  color: #ffffff;
  cursor: pointer;
  border: none;
  font-size: 1rem;
  padding: 10px 25px;
  font-family: "Noto Serif";
}

.modal-botao-adicionar-produto.esgotado {
  background: #808080;
  cursor: not-allowed;
}

.modal-botao-adicionar-produto:active {
  background: #808080;
}

.modal-avaliacoes {
  grid-column: 2;
}

.modal-avaliacoes-subtitulo {
  font-size: 1.75rem;
}

.modal-avaliacao {
  border-bottom: 1px solid rgba(0,0,0,.1);
  padding-bottom: 20px;
}

.modal-avaliacao-descricao {
  color: rgba(0,0,0,.7);
  margin: 20px 0 5px 0;
}

.modal-avaliacao-usuario {
  font-weight: bold;
}

.alerta {
  position: absolute;
  top: 20px;
  left: 0px;
  z-index: 2;
  width: 100%;
  text-align: center;
  display: none;
}

.alertaAtivo {
  display: block;
  animation: fadeInDown .3s forwards;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -30px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0px, 0);
  }
}

.alerta-mensagem {
  background: #ffffff;
  display: inline-block;
  padding: 20px 40px;
  border: 2px solid #000000;
  box-shadow: 0 3px 4px rgba(0,0,0,.1), 0 4px 10px rgba(0,0,0,.2);
}

/* Carrinho */

.carrinho-modal::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0,.5);
}

.carrinho-modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  display: none;
}

.carrinhoAtivo {
  display: block;
}

.carrinho-modal-container {
  position: relative;
  margin: 80px auto;
  background: #ffffff;
  padding: 40px;
  max-width: 800px;
  animation: fadeInDown .3s forwards;
}

.carrinho-modal-titulo {
  margin-bottom: 10px;
  border-bottom: 2px solid #000000;
  padding-bottom: 20px;
}

.carrinho-modal-produto {
  display: grid;
  grid-template-columns: 1fr 1fr 50px;
  border-bottom: 1px solid rgba(0,0,0,.1);
  padding: 10px 0;
}

.carrinho-modal-produto-remover {
  border: none;
  font-size: 1rem;
  cursor: pointer;
  background: transparent;
}

.carrinho-modal-produto-preco {
  text-align: right;
}

.carrinho-modal-total {
  text-align: right;
  padding: 10px 50px 10px 0;
  margin-bottom: 20px;
  border-bottom: 2px solid #000000;
}

.carrinho-modal-botao-fechar {
  border-radius: 50%;
  border: 2px solid #000000;
  width: 40px;
  height: 40px;
  position: absolute;
  top: -10px;
  right: -10px;
  font-size: 1rem;
  box-shadow: 0 3px 4px rgba(0,0,0,.1), 0 4px 10px rgba(0,0,0,.2);
  cursor: pointer;
  background: #ffffff;
}

.carrinho-modal-finalizar-compra {
  display: block;
  margin-left: auto;
  background: #000000;
  cursor: pointer;
  color: #ffffff;
  font-size: 1rem;
  padding: 10px 25px;
  border: none;
  font-family: "Noto Serif";
}

/* Responsivo */

@media screen and (max-width: 900px) {
  #app {
    padding: 0 10px;
  }

  .produtos {
    margin-top: 40px;
  }

  .produto {
    flex-direction: column;
    align-items: flex-start;
    max-width: 300px;
    margin: 30px auto;
  }

  .produto-info {
    padding: 20px;
  }

  .produto-img {
    max-width: 100%;
  }

  .produto-titulo {
    font-size: 1.5rem;
  }

  .modal {
    padding: 10px;
  }

  .modal-container {
    grid-gap: 20px;
    background: #ffffff;
    padding: 10px 0;
  }

  .modal-img {
    grid-row: 2;
  }

  .modal-img img {
    grid-row: 2;
    width: 100%;
    max-width: initial;  
  }

  .modal-dados {
    grid-column: 1;
    padding: 10px;
  }

  .modal-botao-adicionar-produto {
    margin-top: 20px;
  }

  .modal-avaliacoes {
    grid-column: 1;
    padding: 10px;
  }

  .carrinho-modal {
    padding: 10px;
  }
}