<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <title>Curso Origamid Vue.js Completo</title>
</head>

<body>

  <div id="app">
    <button @click="obterPaises">Obter Paises</button>
    <hr>
    <select name="paises" id="paises" v-model="paisSelecionado">
      <option v-for="pais in paises" :value="pais.name">{{pais.name}}</option>
    </select>
    <hr>
    País Selecionado: {{paisSelecionado}}
    <hr>
    Capital: {{capitalPaisSelecionado}}
  </div>

  <script>
    const vm = new Vue({
      el: "#app",
      data: {
        paises: {},
        paisSelecionado: null,
        capitalPaisSelecionado: null
      },
      methods: {
        obterPaises() {
          fetch("https://restcountries.eu/rest/v2/all")
            .then(r => r.json())
            .then(r => this.paises = r);
        }
      },
      watch: {
        paisSelecionado() {
          this.capitalPaisSelecionado = this.paises.find(pais => pais.name === this.paisSelecionado).capital;
        }
      }
    });
  </script>
  <!--
    Utilize a rest API para puxar as capitais dos paises
    Use um campo de select, onde o usuário pode selecionar o país.
    https://restcountries.eu/rest/v2/all

    Com uma função watch, mude a capital de acordo com o país selecionado:

    Ex de campo select:

    <select name="paises" id="paises" v-model="selecionado">
      <option v-for="pais in paises" :value="pais.name">
        {{pais.name}}
      </option>
    </select>
  -->
</body>

</html>